# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.DS_Store

# Backend
backend/__pycache__/
backend/venv/
backend/env/
backend/.env
backend/.env.local
backend/*.pyc
backend/scripts/__pycache__/

# Global
.vscode/
.idea/
*.log
legacy/
